footer
  .footer-cont
    .conf-wrap
      p.conf © Конфиденциальность сайта
    .social
      ul.social-list
        li.facebook-wrap
          a(href="https://www.facebook.com/anastasia.zhiltsova").facebook
        li.vkontakte-wrap
          a(href="https://vk.com/id13729552").vkontakte
        li.twitter-wrap
          a(href="https://twitter.com/stasia_lubacz?lang=en").twitter
  
