header
  .header_cont
    .avatar-wrap
      div.avatar-box
        img(src="../images/main.jpg" alt="маленькая аватарка").avatar-im
      p.avatar-fio Анастасия Жильцова
    div.contacts
      .contacts-wrap
        a(href="#").contacts__header Мои контакты
      div.contacts-list-wrap
        ul.contacts-list
          li.contacts-list_item 
            a(href="mailto:a.zhiltsova@mail.ru").contacts-list_email a.zhiltsova@mail.ru
          li.contacts-list_item 
            a(href="tel:+79397071247").contacts-list_phone +7 939 707 12 47
          li.contacts-list_item
            a(href="skype:a.zhiltsova?call").contacts-list_skype a.zhiltsova
          
