

doctype html
html(lang="en")
block variables
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  script(src="..js/modernizr.js")
  title #{titlecontent} 
  meta(name="description" content="Страница обо мне сайта Жильцовой Анастасии")
  meta(name="keywords" content="Жильцова, портфолио, личная страница, вход")
  link(rel="stylesheet" href="../css/main.css")

body(class= '#{bodyclass}')
  .wrapper
    block header
      include ./header.jade
    main(class='#{mainclass}')  
      div(class= '#{containerclass}')
        block nav
          include ./nav.jade
        block main
    block footer
      include ./footer
