nav
  ul.mainmenu
    li.mainmenu_item
      a(href="./02_about.html").mainmenu_about Обо мне
    li.mainmenu_item
      a(href="./03_carreer.html").mainmenu_carreer Карьерный путь
    li.mainmenu_item
      a(href="./04_portfolio.html").mainmenu_port Портфолио
