
@font-face{
    font-family: "FiraSB";
    src: url('../fonts/FiraSans/FiraSans-Bold2.ttf');
}
@font-face{
    font-family: "FiraSL";
    src: url('../fonts/FiraSans/FiraSans-Light.ttf');
}
@font-face{
    font-family: "FiraSM";
    src: url('../fonts/FiraSans/FiraSans-Medium.ttf');
}
@font-face{
    font-family: "FiraSR";
    src: url('../fonts/FiraSans/FiraSans-Regular2.ttf');
}
@font-face{
    font-family: "FontAw";
    src: './fonts/FontAwesome.ttf';
}
@font-face{
    font-family: "FontAwWeb";
    src: './fonts/fontawesome-webfont.ttf';
}
@font-face{
    font-family: "OpenSB";
    src: url('../fonts/open-sans-bold.ttf');
}
@font-face{
    font-family: "OpenSSB";
    src: './fonts/open-sans-semibold.ttf';
}
