nav{
  width: 230px;
  height: 100%;
  align-items:stretch;

}

.mainmenu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin-top: 5px;
}
.mainmenu li{
  padding: 10px;
  margin: 0px;
  list-style: none;
}
.mainmenu li a{
  line-height: 1.333;
  font-size: 18px;
  text-align: right;
  text-decoration: none;
  color: #727272;
  font-family: "FiraSR";
  font-weight: normal;
  padding-right: 20px;
}

.mainmenu li a:active{
  color : #33c1e3;
  font-weight: bold;
  border-right: 6px solid #33c1e3;
}
.about .mainmenu_about {
  color: #33c1e3;
  font-family: "FiraSB";

  list-style: none;
}
.about .mainmenu_about::before{
  content: " ";
  display: block;
  background: url(../images/sprites.png) no-repeat;
  background-position: -16px -17px ;
  width: 16px;
  height: 18px;
  margin-right: 5px;
  position: absolute;
  margin-left: -24px;
  margin-top: 1px
}

//.mainmenu_about_here{
  //border-right: 6px solid #33c1e3;
//}
.mainmenu_carreer::before {
  content: " ";
  display: block;
  background: url(../images/sprites.png) no-repeat;
  background-position: -64px -65px  ;
  width: 17px;
  height: 18px;
  margin-right: 5px;
  position: absolute;
  margin-left: -24px;
  margin-top: 1px;

}
.mainmenu_carreer:hover::before{
  content: " ";
  display: block;
  background: url(../images/sprites.png) no-repeat;
  background-position: -15px -65px ;
	width: 17px;
	height: 18px;
  margin-right: 5px;
  position: absolute;
  margin-left: -24px;
  margin-top: 1px;
}
.mainmenu_port::before{
  content: " ";
  display: block;
  background: url(../images/sprites.png) no-repeat;
  background-position: -65px -115px ;
	width: 18px;
	height: 15px;
  margin-right: 5px;
  position: absolute;
  margin-left: -27px;
  margin-top: 3px;
}
.mainmenu_port:hover::before{
  content: " ";
  display: block;
  background: url(../images/sprites.png) no-repeat;
  background-position: -16px -115px ;
	width: 18px;
	height: 15px;
  margin-right: 5px;
  position: absolute;
  margin-left: -27px;
  margin-top: 3px;
}
.mainmenu a:hover{
  color : #33c1e3;
  font-weight: normal;
  border: none;
}
