@import "../common/variables.scss";
.about{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: rgb(246,246,246);
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  }
.about-cont{
  max-width: 965px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-main{
  width: 100%;
  flex: 1 0 auto;
}
.main{
  width: 76%;
  display: flex;
  flex-flow: row nowrap;
}
.wrap-portrait{
  display: flex;
  width: 47%;
  justify-content: center;
}
.portrait{
  width: 222px;
  height: 222px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 50%;
  background-color: rgb( 246, 246, 246 );
  overflow: hidden;

}
.portrait_image{
  width: 224px;
  height: 224px;
}
.info{
  width: 53%;
  display: flex;
  flex-flow: column;

}
.info_header{
  font-size: 35px;
  font-family: "FiraSM";
  font-style: normal;
  color: rgb( 65, 65, 65 );
  line-height: 1.286;
  text-align: left;
  height: 28px;
  margin-bottom: 30px;
  margin-top: 0px;

}
.info_text{
  font-size: 18px;
  font-family: "FiraSL";
  color: rgb( 100, 100, 100 );
  line-height: 1.49;
  text-align: left;
  width: 390px;
  height: 278px;
  overflow-y: scroll;
  margin: 0;
  margin-bottom: 68px;

}
.info_text::-webkit-scrollbar-track{
  border-radius: 5px;
}
.info_text::-webkit-scrollbar{
  width: 5px;
}
.info_text::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgb(216,216,216);
}
.main-button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main_curric{
  font-size: 14px;
  font-family: "OpenSB";
  color: $red;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  background-color: $ligrey;
  border-width: 2px;
  border-color: $red;
  border-style: solid;
  border-radius: 20px;
  padding: 4px;
  padding-right: 10px;
  padding-left: 35px;
  margin-right: 13px;
}
.main_curric:hover{
  color: white;
  background-color: $red;
  cursor:pointer;
}
.main_curric::before{
  background: url(../images/sprites.png) no-repeat;
  content: " ";
  display: block;
  position: absolute;
  margin-left: -25px;
  margin-top: 6px;
  background-position: -116px -20px ;
  width: 16px;
	height: 14px;
}
.main_curric:hover::before{
  background: url(../images/sprites.png) no-repeat;
  content: " ";
  display: block;
  position: absolute;
  margin-left: -21px;
  margin-top: 6px;
  background-position: -118px -71px ;
	width: 14px;
	height: 14px;
}
